<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <!--加载配置文件，为下面读取数据库信息准备-->
    <properties resource="db.properties"/>

    <context id="Mysql" targetRuntime="MyBatis3Simple" defaultModelType="flat">

        <plugin type="tk.mybatis.mapper.generator.MapperPlugin">
            <!--可自定义Mapper-->
            <!-- <property name="mappers" value="online.kyralo.tk.mapper.TkMapper"/>-->
            <property name="mappers" value="online.kyralo.tk.mapper.TkMapper"/>
            <!--caseSensitive默认false，当数据库表名区分大小写时，可以将该属性设置为true-->
            <property name="caseSensitive" value="true"/>
            <property name="forceAnnotation" value="false"/>
        </plugin>

        <!-- include the plugin -->

        <!--        &lt;!&ndash; 扩展entity的set方法,返回this方便链式调用&ndash;&gt;-->
        <!--        &lt;!&ndash;        <plugin type="mybatis.generator.plugins.ExtendEntitySetter"/>&ndash;&gt;-->

        <!-- 扩展entity的lombok方法,用了之后扩展set不会生效 -->
        <plugin type="com.softwareloop.mybatis.generator.plugins.LombokPlugin">
            <property name="data" value="true"/>
            <property name="builder" value="true"/>
            <property name="allArgsConstructor" value="true"/>
            <property name="noArgsConstructor" value="true"/>
            <!--            <property name="builder.fluent" value="true"/>-->
            <!--            <property name="builder.builderMethodName" value="myBuilder"/>-->
            <!--            <property name="accessors" value="true"/>-->
            <!--            <property name="accessors.prefix" value="m_, _"/>-->
        </plugin>

        <!-- 自动为entity生成swagger2文档-->
        <plugin type="mybatis.generator.plugins.GeneratorSwagger2Doc">
            <property name="apiModelAnnotationPackage" value="io.swagger.annotations.ApiModel"/>
            <property name="apiModelPropertyAnnotationPackage" value="io.swagger.annotations.ApiModelProperty"/>
        </plugin>

        <!-- 阻止生成自动注释 -->
        <commentGenerator>
            <property name="javaFileEncoding" value="UTF-8"/>
            <property name="suppressDate" value="true"/>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <!--数据库链接地址账号密码-->
        <jdbcConnection driverClass="${db.driver-class-name}"
                        connectionURL="${db.url}"
                        userId="${db.username}"
                        password="${db.password}"
        >
            <!--MySQL 8.x 需要指定服务器的时区-->
            <property name="serverTimezone" value="UTC"/>
            <!-- connectionURL属性，防止乱码 -->
            <property name="useUnicode" value="true"/>
            <!-- 禁用SSL -->
            <property name="useSSL" value="false"/>
            <!-- connectionURL属性，防止乱码 -->
            <property name="characterEncoding" value="utf-8"/>
            <!-- connectionURL属性，防止生成不同数据库同名表的代码 -->
            <property name="nullCatalogMeansCurrent" value="true"/>
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!--生成Model类存放位置-->
        <javaModelGenerator targetPackage="online.kyralo.amall.dao.dataobject" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!--生成映射文件存放位置-->
        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!--生成Dao类存放位置-->
        <!-- 客户端代码，生成易于使用的针对Model对象和XML配置文件 的代码
                type="ANNOTATEDMAPPER",生成Java Model 和基于注解的Mapper对象
                type="XMLMAPPER",生成SQLMap XML文件和独立的Mapper接口
        -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="online.kyralo.amall.dao.mapper"
                             targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!--生成对应表及类名
        去掉Mybatis Generator生成的一堆 example
        -->
        <table tableName="user" domainObjectName="UserDo" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>
    </context>
</generatorConfiguration>