<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="online.kyralo.amall.dao.mapper.TbCommodityBrandsDAO">

    <resultMap id="tbCommodityBrandsMap" type="online.kyralo.amall.dao.dataobject.TbCommodityBrandsDO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="brandsDesc" column="brands_desc"/>
        <result property="logoUrl" column="logo_url"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="columns">
        id,name,brands_desc,logo_url,status,create_time,update_time FROM tb_commodity_brands
    </sql>

    <!--通过ID查询单个品牌表-->
    <select id="findById" resultMap="tbCommodityBrandsMap">
        SELECT id,name,brands_desc,logo_url,status,create_time,update_time FROM tb_commodity_brands
        WHERE id=#{id}
    </select>

    <!--分页查询品牌表-->
    <select id="findByPage" resultMap="tbCommodityBrandsMap">
        SELECT id,name,brands_desc,logo_url,status,create_time,update_time FROM tb_commodity_brands
    </select>

    <!--新增品牌表-->
    <insert id="insert">
        INSERT INTO tb_commodity_brands(id,name,brands_desc,logo_url,status,create_time,update_time)
        VALUES (#{id},#{name},#{brandsDesc},#{logoUrl},#{status},#{createTime},#{updateTime})
    </insert>

    <!--通过ID删除单个品牌表-->
    <delete id="deleteById">
        DELETE FROM tb_commodity_brands
        WHERE id=#{id}
    </delete>

</mapper>