<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="online.kyralo.amall.dao.mapper.TbCommoditySizeDAO">

    <resultMap id="tbCommoditySizeMap" type="online.kyralo.amall.dao.dataobject.TbCommoditySizeDO">
        <id property="id" column="id"/>
        <result property="skuId" column="sku_id"/>
        <result property="sizeName" column="size_name"/>
        <result property="sizeDesc" column="size_desc"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="columns">
        id,sku_id,size_name,size_desc,status,create_time,update_time FROM tb_commodity_size
    </sql>

    <!--通过ID查询单个商品尺寸表-->
    <select id="findById" resultMap="tbCommoditySizeMap">
        SELECT id,sku_id,size_name,size_desc,status,create_time,update_time FROM tb_commodity_size
        WHERE id=#{id}
    </select>

    <!--分页查询商品尺寸表-->
    <select id="findByPage" resultMap="tbCommoditySizeMap">
        SELECT id,sku_id,size_name,size_desc,status,create_time,update_time FROM tb_commodity_size
    </select>

    <!--新增商品尺寸表-->
    <insert id="insert">
        INSERT INTO tb_commodity_size(id,sku_id,size_name,size_desc,status,create_time,update_time)
        VALUES (#{id},#{skuId},#{sizeName},#{sizeDesc},#{status},#{createTime},#{updateTime})
    </insert>

    <!--通过ID删除单个商品尺寸表-->
    <delete id="deleteById">
        DELETE FROM tb_commodity_size
        WHERE id=#{id}
    </delete>

    <!--通过商品 SKU ID 查询商所有尺寸名-->
    <select id="findSizeNameBySkuId" resultType="string">
        SELECT DISTINCT size_name FROM tb_commodity_size
        WHERE sku_id=#{skuId}
    </select>

    <!--通过ID查询单个商品尺寸表-->
    <select id="findBySkuIdAndName" resultMap="tbCommoditySizeMap">
        SELECT id,sku_id,size_name,status FROM tb_commodity_size
        WHERE sku_id=#{skuId} AND size_name = #{name}
    </select>
</mapper>